.b-card {
	 overflow: hidden;
  background: $lightblue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
}

.b-card > .car-image {
  height: 350px;
  width: 100%;
  object-fit: contain;

}

.avatar-bordered-boking {
    position: absolute;
    right: 90px;
    bottom: 58px;
    width: 80px;
    border-radius: 50px;

}
