.containernine {
  border: 2px solid $blue;
  background: $lightblue;
  padding: 30px;
  border-radius: 10px;
  color: $blue;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
