<ol>
<% @bookings.each do |booking| %>
<li>
  <%= booking.date %> - <%= link_to booking.comments, booking_path(booking) %>
</li>
<% end %>
</ol>

<%= link_to 'Return to home page', root_path, class: "btn btn-success btn-lg"%>
