<div class="title">
  <h1>Vintage Cars for Broke Nerds</h1>
  <h4>Your Car has been booked and confirmd</h4>
</div>
<br>
<div class="car card booking">
  <br>
  <h1>Image of car</h1>
  <br>
<p> your reservation of the car "***fiat 500****" has ben confirmd </p>
<h3>cars information</h3>
  <ul>
    <li>car's owners name</li>
    <li>car's loction </li>
    <li>car's date of reservation</li>
    <li>$$$€€€£££car price£££€€€$$$</li>
    <li> <%= @booking.description %> </li>
  </ul>
  <%= link_to "return to Home page", root_path, class: "btn btn-success btn-lg"%>


</div>


