
.card {
  overflow: hidden;
  background: $lightblue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px;
  border-radius: 10px;
  height: 270px;
  width: 810px;


}

.lcar-card > .car-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.lcar-card {
  padding-top: 13px;
}

.lcard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.lcard p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.lcard .lcar-crad-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

 .avatar-bordered {
    position: absolute;
    right: 16px;
    bottom: 48px;
    width: 40px;
}

.lprice {
  position: absolute;
    right: 16px;
    bottom: 7px;
}
