.abannertwo {
  background: $blue;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 30px;
}

.acontainerfive {
  color: $yellow;
  text-align: center;
  padding: 20px;
}

.containersix {
  border: 2px solid $blue;
  background: $lightblue;
  padding: 30px;
  border-radius: 10px;
  color: $blue;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn-success {
  padding: 10px;
  margin: 0px 30px 0px 0px;
  border-radius: 10px;
  background: $blue;
  color: $yellow;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn-success:hover {
  background: $yellow;
  color: $blue;
}

.abuttons {
  padding: 10px;
  margin: 10px;
}
