@import "carcard";
.lpages {
  padding: 30px;
}
.lcarimage{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;

}
.lTitle{
    color: $yellow;
    background: $blue;
    padding: 10px;
    margin:20px;
    height: 300px;
    length: 100px;
    text-align: center;

    h1{
      font-size: 32px;
      padding-top: 90px;

    }
 }
 .lTitle{
  p{
    font-size: 12px;

  }
 }

 .lcar-card  {
  display: grid;
}

.row {
  display: flex;
  justify: content;
}
